*{
    margin: 0px;
    padding: 0px;
    }
    #container{
    display: flex;
    width: 100%;
    }
    #container>div:first-child{
    display: flex;
    width: 70%;
    }
    #cart-header>h1{
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 28px;
    font-family: "Zurich Extended",'Roboto', sans-serif;
    line-height:30.3333px;
    color: #444444;
    font-weight: 700;
    }
    #thead>th>span{
    font-size: 14px;
    color: #7e7b79;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; 
    }
    
    th:nth-child(1){
    padding-left: 50px;
    text-align: left;
    
    }
    th:nth-child(2){
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    }
   th:nth-child(3){
       width: 200px;
       text-align: left;
       padding-left: 2px;
   }
   p{
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 14px;
    color: #444444;
    font-family: 'Roboto', sans-serif; 
    }
    label{
    margin-left: 50px;
    font-size: 14px;
    color: #444444;
    font-family: 'Roboto', sans-serif; 
    }
    textarea{
    margin-left: 50px;
    font-size: 14px;
    color: #444444;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif; 
    padding-left: 20px;
    }
    img{
    width: 100%;
    height: 100%;
    }
    #td1{
    margin-top: 40px;
    height: 90px;
    display: flex;
    }
    #td1>div:first-child{
    width: 100px;
    height: 90px;
    margin-left: 50px;
    }
    #td1>div:last-child{
    
    width: 500px;
    height: 90px;
    margin-left: 50px;
    }
    #td2{
    
    margin-top: -40px;
    height: 30px;
    border-radius: 20px;
    border: 05.px solid gray;
    }
    button{
    
    margin-left: 20px;
    margin-top: 5px;
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    color: #444444;
    }
    button+span{
    margin-right: -10px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    }
    #btn{
    font-size: 12px;
    margin-left: 30px;
    text-decoration: underline;
    font-weight: none;
    color:#7e7b79 ;
    }
    #btn:hover{
    color:#444444 ;
    }
    td>p{
    margin-top: -10px;
    font-size: 18px;
    color: blue;
    font-weight: bold;
    margin-left: 10px;
    }
    a{
    text-decoration: none;
    color: #444444;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    }
    #sprice{
    margin-top: 10px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:#7e7b79 ;
    
    }
    span{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:#7e7b79 ;
    }
    #total-section{
    width: 30%;
    height: 400px;
    position: relative;
    
    }
    #total-section>div{
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: #f5f5f5;
    }
    #total-section>div>div:nth-child(1){
    
    margin-top: 40px;
    height: 30px;
    }
    #total-section>div>div>span{
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color:#444444 ;
    margin-left: 20px;
    }
    #total-section>div>div:nth-child(2){
    
    font-size: 12px;
    margin-bottom: 20px;
    }
    #total-section>div>div:nth-child(2)>button{
    background-color: #f5f5f5 ;
    font-size: 12px;
    margin-bottom: 20px;
    }
    #total-section>div>div:nth-child(3)>span{
    
    font-size: 14px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.3rem;
    color:#7e7b79 ;
    }
    #total-section>div>div:nth-child(4){
    border: 0.5px solid white;
    font-size: 14px;
    margin: 20px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
    height: 48px;
    border-radius: 30px;
    background-color: #3b07ff ;
    }
    #total-section>div>div:nth-child(4)>button{
    
    display: flex;
    font-size: 14px;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3b07ff ;
    }
    #total-section>p{
    margin-top: 20px;
    margin-left: 15px;
    }
    #payment{
       cursor: pointer;
    }