* {
    margin: 0px;
    padding: 0px;
  }

  #container {
    line-height: 40px;
  }
  #container > div {
    width: 450px;
    display: block;
    margin: auto;
    margin-top: 80px;
  }
  h1 {
    text-align: center;
    color: #444444;
    letter-spacing: -1px;
    font-weight: bolder;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #box1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35px;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  a {
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 500;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  a:nth-child(1) {
    border-radius: 30px;
    background-color: #3b5999;
  }
  a:nth-child(2) {
    border-radius: 30px;
    background-color: #4286f5;
  }
  a:nth-child(3) {
    border-radius: 30px;
    background-color: #00acee;
  }
  a > span {
    position: relative;
    left: -5px;
    top: -13px;
  }
  a > img {
    position: relative;
    left: -19px;
    height: 35px;
    border-radius: 20px;
  }

  #box2 > span {
    color: #444444;
    text-align: center;
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    position: relative;
    top: -21px;
    padding: 0 10px;
    font-weight: 700;
    background: #ffff;
    font-size: 14px;
  }
  hr {
    margin-top: 40px;
  }
  p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    font-size: 14px;
    margin-bottom: -40px;
  }

  form > div > input {
    width: 95%;
    height: 52px;
    margin-top: 15px;
    border-radius: 30px;
    padding-left: 20px;
    border: 1px solid #e3e3e3;
    font-size: 15px;
  }

  button {
    width: 100%;
    height: 52px;
    margin-top: 15px;
    border-radius: 30px;
    border: none;
    background: #3b07ff;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  form > span {
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #8e8891;
  }
  /* <-------------------from here css for login page------------------> */
  #first {
    width: 30%;
    color: #8e8891;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: transparent;
    position: relative;
    left: 300px;
    bottom: 70px;
    text-decoration: underline;
  }
  #first:hover {
    text-decoration: underline;
    color: #444444;
    text-decoration-color: #444444;
  }

  #anchor {
    background-color: transparent;
    color: #8e8891;
    text-decoration: underline;
  }
  #anchor:hover {
    text-decoration: underline;
    color: #444444;
    text-decoration-color: #444444;
  }
  /* <--------------- End here css for login page------------------> */
  @media screen and (min-width: 320px) and (max-width: 480px) {
    #container > div {
      width: 230px;
    }
    #box1 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 35px);
    }
    button {
      width: 241px;
    }
    #first {
      position: relative;
      width: 300px;
      top: 5px;
      left: 0px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 700px) {
    #container > div {
      width: 350px;
    }
    button {
      width: 355px;
    }
    #box1 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 35px);
    }
    #first {
      position: relative;
      left: 250px;
      bottom: 70px;
    }
  }